



.current-book {
    display:block;
    width: 1400px;
    margin-left:200px;
}

    .cover-book {
        display: block;
        width: 600px;
        height: 900px;
        background-color: brown;
    }

    .current-book .content-book {
        width: 400px;
    }

        .current-book .content-book .info-book {
        }

        .current-book .content button {
        }


