main {
    display:flex;
    margin: 0 auto;
    width: 1400px;
}






.current-book {
    display: flex;
    width: 1400px;
    justify-content: space-between;
}

    .cover-book {
        display: block;
        width: 600px;
        height: 900px;
        background-color: brown;
    }

    .current-book .content-book {
        width: 400px;
    }

        .current-book .content-book .info-book {
        }

        .current-book .content button {
        }


