@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Profile";

    User user = (User)@ViewBag.User;

}


<div class="container">

            <div class="info">
               Usernick: <p> @user.username</p><br>
               Name: <p> @user.name</p><br>
               Surame: <p> @user.surname</p><br>
            </div>
            <a asp-area="" asp-controller="Profile" asp-action="Cart">Текущие заказы</a>

</div>
