@{
    ViewData["Title"] = "Book Page";
}


@using WebStoreASP.Models;
@{
    var prod = (List<Product>)ViewBag.Products;
    var authors = (List<Author>)ViewBag.Authors;
    var genres = (List<Genre>)ViewBag.Genres;
    var publishers = (List<Publisher>)ViewBag.Publishers;

    var covers = (List<Cover>)ViewBag.Covers;

    var Book = (Product)ViewBag.CurrentBook;

    var ID = Book.cover_id;

}




<main>
        <div class="current-book">
           
            <img alt="" src="@covers.Find(c=>ID==c.id).content" class="cover-book"/>


            <div class="content-book">
                <div class="info-book">
                    @Book.name
                </div>
                <form method="post">
                    <input type="text" value="@Book.id" name="id" style="display:none;"></input>
                    <button type="submit">В Корзину</button>
                </form>
            </div>


        </div>
        


</main>

